*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

/********************Overall App*************/
.App {
    width:320px;
    background:white;
    display:flex;
    flex-direction: column;
}

/**************************************Header**************************************/
.header-container {
    background-color:navy;
    /* background-image: linear-gradient(to bottom right, navy, #0000bc); */
    /*do this code for all of the header container background*/
    width:100vw;
    height:80px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.marketin-logo {
    height:42px;
    width: 50px;
    border:navy;
    color:white;
    font-size:40px;
    font-weight:700;
    text-align:center;
    font-family:sans-serif;
}

.marketin-name {
    letter-spacing: 0.05em;
    margin-right:5px;
    font-size:40px;
    color:white;
}

.logout-button {
    font-size:16px;
    margin:5px auto;
    font-weight: 800;
    color: white;
    background: black;
    height:35px;
    width:65px;
}

/**************************************Sidebar*************************************/
.sidebar-container {
    display: flex;
    flex-direction: column;
    position:fixed;
    top:80px;
    left:0px;
    z-index:0;
    overflow:hidden;
    background-color:black;
    height:100%;
    /* width:300px; */
    transition:0.2s;
}

.sidebar-container > a {
    text-decoration: none;
    color:white;
    /* padding:10px; */
    font-size:35px;
    margin-left:10px;
    /* text-transform: uppercase; */
}

.sidebar-container span {
    text-decoration: none;
    color:white;
    margin-Left:10px;
    font-size:35px;
}

/*************************************Entire Profile**************************************/
.profile-container {
    margin-top:85px;
    width:100vw;
    /* margin-left:5px; */
    margin-right:5px;
}

/*************************************Profile Info*********************************/
.profile-basic-info-container {
    display: flex;
    flex-direction: column;
    background:silver;
    width:100vw;
    border:navy solid 5px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.profile-picture {
    background:white;
    height:150px;
    width:120px;
    border-radius: 150%;
    border:black 5px solid;
}

.edit-profile-input-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5px;
    margin-bottom:5px;
}

.edit-profile-input-boxes {
    display:flex;
    flex-direction: column;
    min-height:40px;
    width:260px;
    border:solid black;
    font-size: 35px;
    margin-bottom:5px;
}

.edit-profile-input-button-container button {
    font-size: 25px;
    width:60px;
    height:40px;
    background:black;
    color:white;
    border-radius: 25%;
    margin-right:5px;
}

/*************************************Other Sections*********************************/

.section-container {
    margin-top:5px;
    padding-bottom:2px;
    margin-bottom:5px;
    background:navy;
}

.section-header-holder {
    display:flex;
    justify-content: center;
    margin-right:5px;
    margin-top:5px;

}

.section-header {
    margin-left:5px;
    margin-top:5px;
    color:white;
}

.add-save-edit-button {
    font-size: 25px;
    width:60px;
    height:40px;
    background:black;
    color:white;
    border-radius: 25%;
}

/************************Education and Work**************************/
/*************************Section********************/
.large-experience-section-box {
    margin:5px;
    background:navy;
    /* min-height:300px; */
    width:100vw;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}

/**************************Header********************/
.large-experience-box-top {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    width:100vw;
    margin: 5px auto;
    background:silver;
}

/************************Logo************************/
.school-work-logo-container {
    margin-top:5px;
    display: flex;
    justify-content: center;
}

.school-work-logo {
    background:black;
    width:140px;
    height:160px;
    border:solid black;
}

/***************Experience**********************/
.large-experience-box {
    font-size: 35px;
    display:flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
}

/***************Add Functionality***************/
.add-large-input-box-container {
    margin:5px;
    background:silver;
    min-height:260px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width:100vw;
}

/*************************Delete Functionality***************/
.large-section-delete-button {
    font-size:25px;
    width:80px;
    height: 40px;
    background:black;
    color:white;
    border-radius:25%;
    margin-right:5px;
}

/*********************Edit Functionality********************/
.edit-delete-button-container {
    display:flex;
    margin-top:5px;
    align-items:center;
}

/*add an additional section for when you click edit for work*/
.add-edit-box-container {
    display:flex;
    height:280px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom:5px;
}

.edit-input-box {
    width:260px;
    height:40px;
    margin-right:5px;
    font-size:35px;
    margin-top:5px;
    border:black solid;
}

.edit-input-box-last {
    width:260px;
    height:40px;
    margin-right:5px;
    font-size:35px;
    margin-top:5px;
    margin-bottom:5px;
    border:black solid;
}

.large-section-add-save-edit-button {
    font-size: 25px;
    width:70px;
    height:40px;
    background:black;
    color:white;
    border-radius: 25%;
    margin-right:10px;
}
/*************************Skills,Languages,Projects*******************/
/************Header************************/
.small-experience-box-top {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}
/****************Experiences***************/
.small-experience-section-box {
    margin-top:5px;
    margin-bottom:5px;
    width:100vw;
    background:navy;
    /* height:140px; */
    display:flex;
    flex-direction:column;
    flex-wrap: flex;
    justify-content:space-between;
    align-items: center;   
}

.small-experience-box {
    margin-top:5px;
    background:silver;
    display:flex;
    flex-direction: column;
    min-height:40px;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    width:100vw;
    word-wrap: break-word
}

.small-experience-box p{
    font-size: 35px;
}

/***************Edit and Delete Button****************/
.small-section-delete-button {
    font-size:25px;
    width:80px;
    height: 40px;
    background:black;
    color:white;
    border-radius:25%;
    /* margin-right:5px; */
}

.input-edit-delete-container {
    display: flex;
    flex-direction: column;
    margin-right:5px;
    align-items:center;
}



/**********Add button***************************/
.add-button-container {
    display:flex;
    /* background:red; */
    justify-content:center;
    /* align-items: center; */
    margin-bottom:5px;
    margin-top:-5px;
}

.add-save-edit-button {
    font-size: 25px;
    width:70px;
    height:40px;
    background:black;
    color:white;
    border-radius: 25%;
    margin-right:10px;
    margin-top:5px;
}

.add-small-input-box-container {
    margin-top:5px;
    background:silver;
    margin-right:5px;
    margin-left:5px;
    display:flex;
    height:50px;
    width:100vw;
    justify-content: center;
    align-items: center;
}

.add-input-box {
    width:260px;
    height:40px;
    margin-right:5px;
    font-size:35px;
    margin-left:5px;
    border:black solid;
}

/*************************************Footer*****************************************/
footer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:25px;
    background:navy;
    color:white;
    margin-bottom:0;
    font-size:20px;
    width:100vw;
    
}

/*************************************Register******************************************/
.previous-next-button-register-container {
    width:290px;
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
    margin-top:-10px;
}

.previous-button {
    width:140px;
    height:40px;
    background:black;
    font-size:30px;
    color:white;
}

.next-button {
    width:100px;
    height:40px;
    background:black;
    font-size:30px;
    color:white;
}

/****************Step 4****************/
.skills-info-register-container {
    margin-top:5px;
    display:flex; 
    flex-direction:column;
    width:100%;
    min-height:170px;
    align-items: center;
}

.skills-info-register-container > input {
    height:40px;
    font-size:35px;
    width:260px;
    border:black solid;
    margin-top:5px;
    margin-bottom:5px;
}

.skills-info-register-container > button {
    height:30px;
    background:black;
    color:white;
    /* margin-top:10px; */
    width:200px;
    font-size:20px;
    border:black solid;
    margin-top:0;
}

.lang-info-register-container {
    display:flex; 
    flex-direction:column;
    width:100%;
    min-height:170px;
    align-items: center;
    /* background:yellow; */
}

.lang-info-register-container > input {
    height:40px;
    font-size:35px;
    width:260px;
    border:black solid;
    margin-top:5px;
    margin-bottom:5px;
}

.lang-info-register-container > button {
    height:30px;
    background:black;
    color:white;
    width:260px;
    font-size:20px;
    border:black solid;
    margin-top:0;
}

/****************Step 5****************/
.projects-info-register-container {
    display:flex; 
    flex-direction:column;
    width:100%;
    min-height:434px;
    /* justify-content: space-evenly; */
    align-items: center;
    margin-top:5px;
    background:silver;
}

.projects-info-register-container {
    height:200px;
    background: silver;
}

.projects-info-register-container > input {
    height:40px;
    font-size:35px;
    width:260px;
    border:black solid;
    margin-top:5px;
    margin-bottom:5px;
}

.projects-info-register-container > button {
    height:30px;
    background:black;
    color:white;
    width:200px;
    font-size:20px;
    border:black solid;
    margin-bottom:230px;
}

.complete-button {
    width:140px;
    height:40px;
    background:black;
    font-size:30px;
    color:white;
}

/*****************Loader****************/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /*****************Services***************/
.entire-services-section {
    margin-top:85px;
    width:100vw;
    min-height:426px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

  .services-container {
    width:100vw;
    background:navy;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:5px;
}

.services-header-holder {
    display:flex;
    flex-direction: row;
    width:100vw;
    justify-content: center;
    align-items:center;
    height:40px;
}

.services-header-holder h1 {
    margin-top:10px;
    color:white;
    font-size: 35px;
    letter-spacing: 0.05em;
}

.services-container > div {
    background:navy;
    width:100vw;      
}

.service-section-container {
    display:flex; 
    flex-direction:column;
    align-items:center;
    /* background:blue;  */
    /* min-height:320px; */
    width:100vw; 
    margin-top:10px;
    /* margin-bottom:20px; */
}

.service-section-box {
    background:silver;
    margin-bottom:20px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    width:100vw;
    /* margin-left:5px; */
    /* margin-right:5px; */
    min-height:280px;
    margin-bottom:5px;
}

.service-mapped-items {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.service-mapped-items > img {
    margin-top:5px;
    height:200px;
    width:180px;
    border:black solid;
}

.service-mapped-items p {
    font-size:35px;
    margin-bottom:5px;
    text-align: center;
}

.purchase-chat-buttons-container {
    /* width:90%; */
    display: flex;
    justify-content: center;
    /* margin-top:10px; */
}

.edit-delete-service-buttons-container {
    /* width:90%; */
    display: flex;
    justify-content: center;    
}

.purchase-service-button {
    font-size:25px;
    width:110px;
    height: 40px;
    background:black;
    color:white;
    border-radius:25%;
    margin-right:30px;
    margin-top:5px;
}

.add-services-button {
    font-size: 25px;
    width:70px;
    height:40px;
    background:black;
    color:white;
    border-radius: 25%;
    margin-bottom:5px;
}

.add-box-container {
    background:silver;
    width:100vw;
    min-height:160px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.add-service-input-box {
    width:260px;
    height:40px;
    margin-right:5px;
    font-size:35px;
    margin-top:5px;
    border:black solid;
}

.delete-service-button {
    font-size:25px;
    width:80px;
    height: 40px;
    background:black;
    color:white;
    border-radius:25%;
}

.edit-service-button {
    font-size: 25px;
    margin-right:30px;
    width:60px;
    height:40px;
    background:black;
    color:white;
    border-radius: 25%;
}

.edit-service-input-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-service-input-box-container input {
    border:black solid;
    width:260px;
    height:40px;
    font-size:35px;
    margin-bottom:5px;
}

/*************************Login***************************/
.login {
    margin-top:80px;
    height:462px;
    width:320px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;
    background:silver;
    font-size:30px;

}

/*******************Search Section***********************/
.entire-search-section {
    min-height:453px;
    background:navy;
    margin-top:85px;
    width:100vw;
    display:flex;
    flex-direction: column;
    margin-bottom:5px;
}

.search-input-and-button-container {
    display:flex;
    min-height:100px;
    width:calc(100vw-10px);
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border:navy solid;
    background:silver;
}

.search-input-box {
    /* width:calc(100vw-10px); */
    border:solid black;
    height:50px;
    font-size: 35px;
}

.search-button {
    width:100px;
    border:black solid;
    background:black;
    color:white;
    height:30px;
    font-size:20px;
    text-align:center;
    border-radius:20%;
}

.search-box-output-container {
    /* margin-top:5px; */
    height:340px;
    border:navy solid;
    width:100vw;
    background:silver;
    overflow:scroll;
}

.search-box-results {
    color:black;
    text-align:center;
}



.contact-section {
    background:silver;
    min-height:80px;
    width:100vw;
    margin-bottom:5px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.entire-about-section {
    background:silver;
    width:100vw;
    min-height:457px;
    margin-top:85px;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-left:solid navy;
    border-right:solid navy
}

@media screen and (min-height: 560px){
    .login {
        margin-top:80px;
        height:545px;
        width:100vw;
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        align-items:center;
        flex-wrap:wrap;
        background:silver;
        font-size:30px;
    }

    .login > input {
        margin-top:40px;
        min-height:50px;
        width:250px;
        font-size:35px;
        border:solid black;
    }
}

@media screen and (min-width: 200px){
    .search-input-box {
        width:180px;
    }

    .marketin-name {
        color:navy;
        font-size:0;
    }
}

@media screen and (min-width: 280px){
    .search-input-box {
        width:260px;
    }

    .marketin-name {
        letter-spacing: 0.05em;
        margin-right:5px;
        font-size:40px;
        color:white;
    }

}

@media screen and (min-width: 320px) {
    .search-input-box {
        width:260px
    } 

    .profile-basic-info-container {
        display: flex;
        flex-direction: column;
        background:silver;
        width:175vw;
        border:navy solid 5px;
        /* margin-left:10px; */
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        /* justify-content: center; */
    } 

    .search-box-output-container {
        height:350px
    }

    .contact-section {
        min-height:115px;
    }

    .entire-about-section {
        height:540px;
    }

    .entire-about-section > p {
        font-size:45px;
        text-align: center;
        min-width:310px;
    }
    
}

@media screen and (min-width: 360px) {
    .search-input-box {
        width:320px
    }
}

@media screen and (min-width: 400px) {
    .search-input-box {
        width:360px
    }

    footer {
        height:40px;
    }

    footer h6 {
        font-size:25px;
    }

}

@media screen and (min-width: 440px) {
    .search-input-box {
        width:400px
    }

    .search-box-output-container h1 {
        font-size:40px;
    }

    .search-button {
        width:150px;
        height: 40px;
        font-size:25px;
    }

}

@media screen and (min-width: 480px) {
    .search-input-box {
        width:440px
    }
}

@media screen and (min-width: 520px) {
    .search-input-box {
        width:480px
    }

    .search-box-output-container h1 {
        font-size:50px;
    }

    .login > input {
        width:500px;
    }
}

@media screen and (min-width: 560px) {
    .search-input-box {
        width:520px;
        margin-top:5px;
    }

    .search-button {
        margin-top:5px;
        margin-bottom:5px;
    }

}

@media screen and (min-width: 600px) {
    .search-input-box {
        width:560px;
        margin-top:10px;
    }

    .edit-input-box {
        width:500px;
        height:45px;
    }

    .edit-input-box-last {
        width:500px;
        height:45px;
    }

    .add-input-box {
        width:500px;
        height:45px;
    }

    .add-service-input-box {
        width:500px;
        height:45px;
    }

    .search-box-output-container h1 {
        font-size:60px;
    }

    .search-button {
        width:200px;
        height: 50px;
        font-size:35px;
        margin-top:5px;
        margin-bottom:10px;
    }

    footer {
        height:50px;
        font-size:30px;
    }

}

@media screen and (min-width: 640px) {
    .search-input-box {
        width:600px
    }

    /* footer {
        height:60px;
    }

    footer h6 {
        font-size: 50px;
    } */
}

@media screen and (min-width: 680px) {
    .search-input-box {
        width:640px
    }
    
    .marketin-name{
        font-size:50px;
    }

    .marketin-logo {
        font-size:50px;
        margin-bottom:5px;
    }

}

@media screen and (min-width: 720px) {
    .search-input-box {
        width:680px
    }

}

@media screen and (min-width: 760px) {
    .search-input-box {
        width:720px
    }

}

@media screen and (min-width: 800px) {
    .search-input-box {
        width:760px;
        height:60px;
        margin-top:5px;
        margin-bottom:5px;
    }

    footer {
        height:60px;
        margin: auto 0;
    }

    footer h6 {
        font-size:40px;
    }

}

@media screen and (min-width: 840px) {
    .search-input-box {
        width:800px
    }
}

@media screen and (min-width: 880px) {
    .search-input-box {
        width:840px
    }
}

@media screen and (min-width: 920px) {
    .search-input-box {
        width:880px
    }
}

@media screen and (min-width: 960px) {
    .search-input-box {
        width:920px
    }
}

@media screen and (min-width: 1000px) {
    .search-input-box {
        width:960px
    }
}
@media screen and (min-width: 1040px) {
    .search-input-box {
        width:1000px
    }
}
@media screen and (min-width: 1080px) {
    .search-input-box {
        width:1040px
    }
}
@media screen and (min-width: 1120px) {
    .search-input-box {
        width:1080px
    }
}
